<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebase</title>
</head>
<body>
    <h1>Welcome to Planet 101!</h1>
    <h3><a href='/planets'>View All Planets!</a></h3>
    <h3><a href='/planets/new'>Add a New Planet Here!</a></h3>
</body>
</html>